#!/usr/bin/env python
#
# Copyright (c) 2019-23 m-ll. All Rights Reserved.
#
# Licensed under the MIT License.
# See LICENSE file in the project root for full license information.
#
# 2b13c8312f53d4b9202b6c8c0f0e790d10044f9a00d8bab3edf3cd287457c979
# 29c355784a3921aa290371da87bce9c1617b8584ca6ac6fb17fb37ba4a07d191
#

root = true

[*]
indent_style = space
indent_size = 4
# end_of_line = lf # .gitattributes will do that at checkout
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# To be able to use this settings, VisualCode must NOT set its own trim_trailing_whitespace settings
# https://github.com/editorconfig/editorconfig-vscode/issues/153#issuecomment-1143400391
[*.md]
trim_trailing_whitespace = false

[*.yaml]
indent_size = 2
